version: '3.8'

services:
  ipfs:
    image: fotomultas/ipfs:latest
    build:
      context: .
      dockerfile: Dockerfile.ipfs
    ports:
      - "5001:5001"
      - "8080:8080"
    volumes:
      - ipfs_data:/data/ipfs
    networks:
      - fotomultas-backend
  hardhat:
    image: fotomultas/hardhat:latest
    build:
      context: .
      dockerfile: Dockerfile.hardhat
    ports:
      - "8545:8545"
    networks:
      - fotomultas-backend
    depends_on:
      - ipfs
  backend:
    image: fotomultas/backend:latest
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    environment:
      - NODE_RPC_URL=http://hardhat:8545
      - CONTRACT_ADDRESS=0x5FbDB2315678afecb367f032d93F642f64180aa3
      - ETHEREUM_CONTRACT_ADDRESS=0x5FbDB2315678afecb367f032d93F642f64180aa3
      - IPFS_API_URL=http://ipfs:5001
      - IPFS_GATEWAY_URL=http://ipfs:8080
    networks:
      - fotomultas-backend
    depends_on:
      - hardhat
      - ipfs

volumes:
  ipfs_data:

networks:
  fotomultas-backend:
    driver: bridge